DATABASE_URL=DATABASE_URL=postgresql+psycopg://neondb_owner:npg_0aiTfEpF4mhz@ep-late-shadow-axeg7wya.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=dq0mRRDTyk5zyurk-GH7aVO993_kzFCRWj6S7HWd7wpbc2yqml-uIzI8mhr8NXA86oHTpNEtPaRWwXw6gN_KXw
CORS_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
ENVIRONMENT=development
ACCESS_TOKEN_EXPIRE_MINUTES=10080
